<md-tabs md-dynamic-height md-border-bottom>
    <md-tab label="Recent changes">
        <md-content class="md-padding">
            <h2 class="md-display-1">Recent changes</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec, feugiat ultricies mi.</p>
        </md-content>
    </md-tab>
    <md-tab label="My changes">
        <md-content class="md-padding">
            <h2 class="md-display-1">My changes</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec, feugiat ultricies mi.</p>
        </md-content>
    </md-tab>
</md-tabs>