<div ng-controller="uploadCtrl as ctrl" ng-cloak>
    <h3>XLSX\XSD upload</h3>

    <md-content>
        <md-tabs md-dynamic-height md-border-bottom>
            <md-tab label="XLSX">
                <md-content flex layout="column" layout-align="center" ng-controller="uploadCtrl">
                    <md-content>
                        <md-input-container class="file-input" ng-init="fileName = ''">
                            <label>XLSX file</label>
                            <input label="Upload files" ngf-select="upload($file, 'xlsx')"
                                   accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
                                   ngf-max-size="1MB"
                                   value="{{fileName}}">
                            <div ng-message="maxSize">
                                File is bigger than 1MB.
                            </div>
                        </md-input-container>
                    </md-content>
                    <md-content layout="row">
                        <md-list flex="66">
                            <md-subheader class="md-no-sticky">
                                <div layout="row">
                                    <div style="width:10%; text-align: center">Status</div>
                                    <div>Line</div>
                                </div>
                            </md-subheader>
                            <md-list-item class="md-3-line" ng-click="null">
                                <div style="width:10%; text-align: center">
                                    <md-icon md-svg-src="img/icons/ic_error_outline_black_24px.svg"></md-icon>
                                </div>
                                <div class="md-list-item-text" layout="column">
                                    <p><b>line:</b> 1</p>
                                    <h4>long text long text long text long text long text long text long text </h4>
                                </div>
                            </md-list-item>
                            <md-list-item class="md-3-line" ng-click="null">
                                <div style="width:10%; text-align: center">
                                    <md-icon md-svg-src="img/icons/ic_done_black_24px.svg"></md-icon>
                                </div>
                                <div class="md-list-item-text" layout="column">
                                    <h3>line: 2</h3>
                                    <h4>long text long text long text long text long text long text long text </h4>
                                </div>
                            </md-list-item>
                        </md-list>
                        <md-content layout="column" style="width:1%"></md-content>
                        <md-content layout="column" flex="33">
                            <md-list>
                                <md-subheader class="md-no-sticky">
                                    <div layout="row">
                                        <div style="width:5%; text-align: left">Summary</div>
                                    </div>
                                </md-subheader>
                                <md-list-item class="md-3-line">
                                    <div class="md-list-item-text" layout="column">
                                        <p><b>Processed:</b> 47</p>
                                        <h4>Success: 33</h4>
                                        <h4>With issues: 14</h4>
                                    </div>
                                </md-list-item>
                            </md-list>
                            <md-list>
                                <md-subheader class="md-no-sticky">
                                    <md-content layout="row">
                                        <md-content>
                                            List of issues
                                        </md-content>
                                        <md-content style="width:10%">
                                            <md-icon md-svg-src="img/icons/ic_file_download_black_18px.svg"></md-icon>
                                        </md-content>
                                    </md-content>
                                </md-subheader>
                                <md-list-item class="md-2-line" ng-click="null">
                                    <div class="md-list-item-text" layout="column">
                                        <p><b>Line:</b> 1</p>
                                        <h4>Mandatory field is missed</h4>
                                    </div>
                                </md-list-item>
                            </md-list>
                        </md-content>
                    </md-content>
                </md-content>
            </md-tab>

            <md-tab label="XSD">
                <md-content class="md-padding">
                    <md-content flex layout layout-align="left">
                        <div layout-gt-md flex layout-gt-md="120">
                            <md-input-container class="file-input">
                                <label>XSD file</label>
                                <input label="Upload Images" ngf-select="upload($file, 'xsd')" accept=".xsd"
                                       ngf-max-size="5MB"
                                       value="test">
                                <div ng-message="maxSize">
                                    File is bigger than 5MB.
                                </div>
                            </md-input-container>
                        </div>
                    </md-content>
                    <md-content flex layout layout-align="left">
                        <div layout-gt-md flex layout-gt-md="120" ng-show="showXsdEntities">
                            <md-list ng-cloak class="full-list">
                                <md-subheader class="md-no-sticky">XSD entities</md-subheader>
                                <md-virtual-repeat-container id="vertical-container">
                                    <div md-virtual-repeat="xsdEntity in ctrl.xsdEntities" md-on-demand
                                         class="secondary-button-padding" flex ng-click="null">
                                        {{xsdEntity.path}}
                                        <md-button class="md-secondary" ng-click="showConstraints(xsdEntity)">
                                            CONSTRAINTS
                                        </md-button>
                                    </div>
                                </md-virtual-repeat-container>
                            </md-list>
                        </div>
                    </md-content>
                </md-content>
            </md-tab>
        </md-tabs>
    </md-content>
</div>